{% extends 'AppBundle:layout:layout.html.twig' %}

{% block body %}
    {% if message %}
        <hr/>
        <div class="text-center"><p class="btn btn-success">{{ message }}</p></div>
        <hr/>
    {% endif %}
    <ul class="nav nav-tabs" id="myTab">
        <li class="active"><a href="#anketa">Анкета</a></li>
        <li><a href="#skills">Навыки</a></li>
        <li><a href="#messages">Уведомления</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="anketa">
            {% include 'AppBundle:cabinet:anketa.html.twig' with {'info': info} %}
        </div>
    <div class="tab-pane" id="skills">
        {% include 'AppBundle:cabinet:skills.html.twig' with {'info': info,'levels':levels,'skills':skills} %}
    </div>
    <div class="tab-pane" id="messages">
        {% include 'AppBundle:cabinet:notifications.html.twig' with {'notifications': notifications,'userNotifications':userNotifications} %}
    </div>
    </div>
{% endblock %}
