{% if user.id is defined  %}
    <div class="navbar-form navbar-right" >
        <a href="{{ path('cabinet') }}" class="btn btn-success">Кабинет</a>
        <a href="{{ path('logout') }}" class="btn btn-default">Выход</a>
    </div>
{% else %}
    <div class="navbar-form navbar-right" >
        <a href="{{ path('login') }}" class="btn btn-default">Вход</a>
        <a href="{{ path('login') }}#reg" class="btn btn-success">Регистрация</a>
    </div>
{% endif %}